import React, { FC } from 'react';
import styles from './styles.module.scss';

export interface {{pascalCase name}}Props {
}

const {{pascalCase name}}: FC<{{pascalCase name}}Props> = (props) => {
    return (
        <div className={styles.{{pascalCase name}} }>
            {{pascalCase name}}
        </div>
    );
};

export default {{pascalCase name}};
